.description{
    padding-top: 140px;
}
.sec1{
    font-weight: bold;
    float: left;
    width: 700px;
    /* border: solid; */
    /* background-color: bisque; */
}
.name{
    color: #8873ef;
    /* border: #8873ef solid; */
    border-right: #8873ef solid ;
    overflow: hidden;
    white-space: nowrap;
    width: 480px;
    border-radius: 6px;
    padding-left: 5px;
    animation: typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #8873ef; }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
.but_sec1{
    margin-top: 20px;
    background-color:#8873ef !important;
    font-size: 22px !important;
    transition: .8s;
}
.but_sec1:hover{
    background-color: blueviolet !important;
}
.left_sec img{
    width: 594px;
    height: 400px;
    margin-top: -53px;
 
}