.page{
    background-color: #eeeeee;
    padding-top: 50px;
    height: 80vh;
}
.right_sec2{
    float: right;
   /* border: solid; */
    width: 600px;
   margin-top: 50px;
   margin-left: 100px;
}

.img_sec2{
    /* margin-top: 0px;*/
     /* height: 500px;  */
    /* border: solid; */
}
.butt_sec2{
    background-color: #8873ef !important;
    transition: .8s;
}
.butt_sec2:hover{
    background-color: blueviolet !important;
}

