.footer1{
    margin-top:400px !important;
   
}
#footerCard {
    width: 100%;
   
}

.social a {
    margin-left: 10px;
    font-size: 30px;
    text-decoration: none;
    justify-content: space-between;
    color: blueviolet;
}